{
  "presets": [ "react-app"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators", {
        "legacy": true,
      }
    ],
    [
      "babel-plugin-named-asset-import",
      {
        "loaderMap": {
          "svg": {
            "ReactComponent": "@svgr/webpack?-prettier,-svgo![path]",
          },
        },
      },
    ],
  ],
}