{
  "root": true,
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",  
      "version": "detect"
    }
  },
  "extends": ["react-app","eslint:recommended","plugin:react/recommended"],
  "rules": {
    "valid-jsdoc":["warn",{"requireReturn":false,"requireReturnDescription": false,"requireReturnType": false}],
    "no-await-in-loop":"error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "default-case": "error",
    "dot-notation": "warn",
    "eqeqeq":  ["warn", "smart"],
    "guard-for-in": "warn",
    "no-empty-function": "warn",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extra-bind": "warn",
    "no-floating-decimal": "warn",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-loop-func": "error",
    "no-multi-str":"error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": "warn",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-sequences": "error",
    "no-unmodified-loop-condition":"error",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-with": "error",
    "require-await": "error",
    "no-use-before-define": "error",
    "brace-style": "error",
    "camelcase": ["warn", {"properties": "never"}],
    "new-cap": "error",
    "no-bitwise":"warn",
    "no-continue": "error",
    "no-lonely-if": "warn",
    "no-mixed-operators": "warn",
    "no-new-object": "warn",
    "no-confusing-arrow": "error",
    "no-duplicate-imports": "error",
    "no-useless-constructor": "warn",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-template": "warn",
    "no-console": "off",
    "no-constant-condition":"off",
    "react/prop-types":"off",
    "react/no-children-prop":"error",
    "react/no-danger":"error",
    "react/no-danger-with-children":"error",
    "react/no-did-mount-set-state":"error",
    "react/no-did-update-set-state":"error",
    "react/no-is-mounted":"error",
    "react/no-array-index-key":"error",
    "react/no-multi-comp":"off",
    "react/no-string-refs":"error",
    "react/no-unescaped-entities":"error",
    "react/no-unused-state":"error",
    "react/no-will-update-set-state":"error",
    "react/prefer-es6-class":"error",
    "react/self-closing-comp":"warn",
    "react/jsx-boolean-value":"warn",
    "jsx-a11y/href-no-hash":"off",
    "i18n/no-chinese-character": 0,
    "no-unused-vars":"warn"
  }
}